.laptop {
    width: 400px;
    margin-left: 37%;
    margin-top: 20px;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

h1 {
    font-family: 'Press Start 2P', monospace;
    border-right: .1em solid;
    width: 9em;
    /* fallback */
    width: 15ch;
    /* # of chars */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(15, end), /* # of steps = # of chars */
    blink-caret .5s step-end infinite alternate;
    margin-left: 33%;
}

p {
    font-family: 'Contrail One', cursive;
    text-align: center;
    font-size: 25px;
}

button {
    margin-left: 45%;
    font-family: 'Contrail One', cursive;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #e3e3e3
}

button:active {
    background-color: #f1f1f1;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}